@charset "UTF-8";

body{
	margin:0;
	padding:0;
	background:#45a1e4;
}

header {
	padding:5px;
	padding-bottom:35px;
	background:#45a1e4;
	
}

section {
	padding:10px;
	padding-bottom:150px;
	background:#ffffff;
}

footer{
	padding-top:5px;
	padding-bottom:10px;
	text-align:center;
	font-size:12px;
	background:#45a1e4;
}

.topleft {
	float: left;
	padding-top:5px;
	padding-left:50px;		
}

.topright {
	float: right;
	padding-top:10px;
	padding-right:30px;		
	font-size:12px;
}


.header_link {
	padding-right:20px;
}

.line_table {
	margin-top: 60px;
	border: 1px sold black;
	border-collapse: collapse;
}

#section_title {
	padding-left:120px;
}

#modal {		
	height:650px;
}

A:link{ color:#555555; text-decoration:none;}
A:visited{ color: #555555; text-decoration:none;}
A:active{ color: #555555; text-decoration:none;}
A:hover{ color: #000000; text-decoration:underline;}
	